/* shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #E55473;
}

.common-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 35px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 38px;
}

.common-img {
    width: 200px;
    height: 230px;
}

.section-title {
    padding-bottom: 15px;
    color: #272727;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
}

/*----- header styles----- */

.banner {

    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 50px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.banner-container-left {
    max-width: 30%;

}

.banner .banner-img {
    width: auto;
    height: 100%;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    text-align: left;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 35px;
}

/*----- main styles----- */

/* featured flower */
.ff-txt {
    margin-top: 60px;
    text-align: center;
}

.fflower-img-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.f1 {
    padding: 20px 10px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.f2 {
    padding: 20px 10px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.f3 {
    padding: 20px 10px 0px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.fflower-img-container a{
    color: black;
}


/* Hot deal styles */

.hot-deal {
    background: rgba(229, 84, 115, 0.05);
    height: 60vh;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 30px;

}

.hot-deal-left {
    text-align: center;
    width: 25%;

}

/* instagram styles */
.instagram {
    margin-top: 60px;
    text-align: center;

}

.insta-img {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-bottom: 60px;

}

/* latest deals styles */
.latest-deal {
    height: 300px;
    width: 77%;
    margin: auto;
    background-image: url('../assets/rectangle9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 8px;
    padding-top: 180px;
    text-align: center;

}

.subscription {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.subscription input[type="email"] {
    display: block;
    padding: 15px 38px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0px;
    width: 40%;
}

/* footer styles */
footer {
    background-color: #111010;
}

.footer-text {
    text-align: center;
    padding: 50px;
}

.footer-text>.section-title {
    color: #FFF;
}

.footer-text .common-description {
    color: #ffffffe5;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 11px;
}